@model IEnumerable<API.Models.Lancamento>

@{
    ViewData["Title"] = "Lançamentos";
}

<h1 style="text-align:center">Financeiro</h1>
<h3 style="text-align:center">Lançamentos - <a>@ViewBag.Mes/@ViewBag.Ano</a></h3>
<br />

<div class="d-flex justify-content-between">
    <a asp-action="Create" class="btn btn-secondary"><i class="fa fa-plus-circle"></i> Incluir</a>
    @using (Html.BeginForm("Index", "lancamento", FormMethod.Get))
    {
        <div class="containerForm">
            <div class="input-group">
                <select class="form-control" id="mes" name="mes">
                    <option disabled selected>Mes</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <select asp-items="ViewBag.ApenasAno" class="form-control" id="ano" name="ano">
                    <option disabled selected>Ano</option>
                    @*<option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>*@
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Listar</button>
                </div>
            </div>
        </div>
    }
    <a asp-action="Resumo" class="btn btn-secondary"><i class="fa fa-money"></i> Resumo</a>
    @*<a target="_blank" href="http://localhost:5172/api/lancamentos" class="btn" data-toggle="tooltip" data-html="true" title="API de Lançamentos">
        <i class="fa fa-plug"></i> <b> API</b>
    </a>*@
</div>
<hr />

<table id="tabelaIndex" class="table table-responsive-sm table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DtPrevisao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jogadores)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObsLancamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtBaixa)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Inativo)
            </th>*@
            <th class="d-flex justify-content-center">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DtPrevisao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contas.NomeConta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jogadores.NomeJogador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ObsLancamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DtBaixa)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Inativo)
                </td>*@
                <td class="d-flex justify-content-center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-default">
                        <i class="fa fa-pencil"></i> Editar
                    </a> | 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-default">
                        <i class="fa fa-info"></i> Detalhes
                    </a> | 
                    <a onclick="Inativar(@item.Id)" class="btn btn-sm btn-default">
                        <i class="fa fa-trash"></i> Excluir
                    </a>
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @*<script>
        $(document).ready(function(){
            $('#tabelaIndex').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });

        $(function(){
            var successMessage = '@TempData["MsgSucesso"]'
            if(successMessage != '')
                alertify.success(successMessage);
        });  /*Função para receber valor de MsgSucesso da Controller e tratar para Alertify*/

        function Inativar(id) {
            alertify.confirm('Exclusão de Lançamento', 'Confirmar exclusão ?',function(){
                window.location.href = '@Url.Action("Inativar","Lancamento")/'+id;
            },null );
        } /*Função para Modal de confirmação de exclusão */
    </script>*@
    @Html.Partial("../Shared/_LayoutTabela")
}