@model IEnumerable<API.Models.Scout>

@{
    ViewData["Title"] = "Scout";
}

<br />
<h1 style="text-align:center">Scout</h1>
<h5 style="text-align:center"><a>Mensalista: @ViewBag.Mensalista - @ViewBag.Ano</a></h5>
<br />

<hr />
<div class="boxWhite">
    <div class="d-flex justify-content-between">
        <a asp-action="Tabela" class="btn btn-secondary"><i class="fa fa-futbol-o"></i>  Tabela</a>
        @using (Html.BeginForm("Index", "Scout", FormMethod.Get))
        {
            <div class="containerForm">
                <div class="input-group">
                    <partial name="_Mensalista" />
                    <partial name="_Ano" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">Listar</button>
                    </div>
                </div>
            </div>
        }    
        <a target="_blank" href="http://localhost:5172/api/scouts" class="btn" data-toggle="tooltip" data-html="true" title="API de Lançamentos">
            <i class="fa fa-plug"></i> <b> API</b>
        </a>
    </div>
    <hr />

    <table class="table table-responsive-sm table-striped table-hover">
        <thead style="color: white; background-color: #198754">
            <tr>
                <th>
                    #
                </th>
                <th>
                    Nome
                </th>
                <th>
                    Pontos
                </th>
                <th>
                    Pontos Médias
                </th>
                <th>
                    Gols
                </th>
                <th>
                    Gols Média
                </th>
                <th>
                    Presenca
                </th>
                <th>
                    Falta
                </th>
                <th>
                    Vitoria
                </th>
                <th>
                    Empate
                </th>
                <th>
                    Derrota
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model.GroupBy(l => l.Jogadores.NomeJogador)
        .Select(l => new { l.Key,
            Rank = 0,
            Pontos = Convert.ToInt32(l.Sum(c => c.Parametros.Ponto) + l.Sum(p => p.Presente)),
            MediaPontos = (l.Sum(c => c.Parametros.Ponto) + l.Sum(p => p.Presente)) / l.Sum(p => p.Presente),
            Gols = l.Sum(c => c.Gol),
            MediaGols = l.Sum(c => c.Gol) / l.Sum(p => p.Presente),
            Presenca = Convert.ToInt32(l.Sum(p => p.Presente)),
            Falta = l.Count(s => s.Parametros.Id == 2),
            Vitoria = l.Count(v => v.Parametros.CodParametro == "V"),
            Empate = l.Count(e => e.Parametros.CodParametro == "E"),
            Derrota = l.Count(d => d.Parametros.CodParametro == "D")
        }).OrderByDescending(l => l.Pontos)) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Rank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pontos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaPontos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gols)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MediaGols)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Presenca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Falta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vitoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Derrota)
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>

<hr />