@model IEnumerable<API.Models.Scout>

@{
    ViewData["Title"] = "Scout";
}

<h1 style="text-align:center">Scout</h1>
<h3 style="text-align:center"><a>@ViewBag.Ano</a></h3>
<br />

<div class="d-flex justify-content-between">
    @*<a asp-action="Create" class="btn btn-secondary"><i class="fa fa-plus-circle"></i> Incluir</a>*@
    <a asp-action="Tabela" class="btn btn-secondary"><i class="fa fa-futbol-o"></i>  Tabela</a>
    @using (Html.BeginForm("Index", "Scout", FormMethod.Get))
    {
        <div class="containerForm">
            <div class="input-group">
                <select asp-items="ViewBag.ApenasAno" class="form-control" id="ano" name="ano">
                    <option disabled selected>Ano</option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Listar</button>
                </div>
            </div>
        </div>
    }    
    <a target="_blank" href="http://localhost:5172/api/scouts" class="btn" data-toggle="tooltip" data-html="true" title="API de Lançamentos">
        <i class="fa fa-plug"></i> <b> API</b>
    </a>
</div>
<hr />

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nome
            </th>
            <th>
                Pontos
            </th>
            <th>
                Gols
            </th>
            <th>
                Presenca
            </th>
            <th>
                Vitoria
            </th>
            <th>
                Empate
            </th>
            <th>
                Derrota
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GroupBy(l => l.Jogadores.NomeJogador)
    .Select(l => new { l.Key,
        Rank = 0,
        Pontos = l.Sum(c => c.Parametros.Ponto + Convert.ToInt32(c.Presente)),
        Gols = l.Sum(c => c.Gol),
        Presenca = l.Count(p => p.Presente == true),
        Vitoria = l.Count(v => v.Parametros.CodParametro == "V"),
        Empate = l.Count(e => e.Parametros.CodParametro == "E"),
        Derrota = l.Count(d => d.Parametros.CodParametro == "D")
    }).OrderByDescending(l => l.Pontos)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pontos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gols)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presenca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vitoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Derrota)
            </td>
        </tr>
}
    </tbody>
</table>
